name: Build and Release APK

on:
  push:
    tags:
      - 'v*'   # triggers when you push a tag like v1.0.0

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Flutter
        uses: flutter-actions/setup-flutter@v4
        with:
          version: 3.35.3

      - name: Verify Flutter & Dart versions
        run: |
          flutter --version
          dart --version

      - name: Install dependencies
        run: flutter pub get

      - name: Build release APK
        run: flutter build apk --release

      - name: Rename APK with version
        run: |
          mkdir -p release
          cp build/app/outputs/flutter-apk/app-release.apk release/LpuLive-${{ github.ref_name }}.apk

      - name: Create Release in public repo
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref_name }}
          name: "Release ${{ github.ref_name }}"
          body: "Automated release of LpuLive-unofficial build."
          files: release/*.apk
          repository: sravan1946/LpuLive-builds
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
